@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@theme {
  /* Colors */
  --color-primary: #FF5733;
  --color-secondary: #FF9166;
  --color-lightPeach: #FFF3E0;
  --color-textDark: #333333;
  --color-textMedium: #666666;

  /* Fonts */
  --font-montserrat: "Montserrat", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";

  /* Font Sizes */
  --font-size-heading: 36px;
  --font-size-subheading: 20px;
  --font-size-body: 16px;
  --font-size-small: 14px;

  /* Font Weights */
  --font-weight-robotoRegular: 400;
  --font-weight-poppinsRegular: 400;
  --font-weight-poppinsBold: 700;
  --font-weight-poppinsSemiBold: 500;
}
